*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font: 'Glory', Arial, sans-serif;
  --color-dark-grey: #727272;
  --color-light-grey: #e0e0e0;
  --color-accent: #ff1744;
}

body {
  font-family: var(--font);
}

.header {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-dark-grey);
  border-bottom: 2pt dotted #000080;
  font-variant: small-caps;
  text-transform: capitalize;
}

.header h1 {
  font-size: clamp(3rem, 7vw, 8rem);
  text-align: center;
}

.main {
  padding: 3rem 1rem;
}

.article {
  padding: 2rem 0;
}
.article:not(:last-child) {
  border-bottom: 1px solid var(--color-light-grey);
}
.article .image img {
  max-width: 100%;
}

.year p {
  font-size: 2.5rem;
  color: var(--color-accent);
}

.info__artist {
  font-size: 1.5rem;
  color: var(--color-dark-grey);
}

.info__title {
  font-size: 2rem;
  color: var(--color-light-grey);
}

@media screen and (min-width: 1024px) {
  .main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .article {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .image {
    flex-basis: 33%
  }
  
  .info {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
  }

  .info__title {
    font-size: 3rem;
    margin-bottom: 0.8rem;
  }

  .info__artist {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    width: 75%
  }
  .year p {
    margin-bottom: 0.5rem;
  }
}